body {
	overflow-y: scroll;
}

.recalculating::after{
   content: url(spinner.gif);
   position: absolute;
   left: calc(50% - 100px);
   top: calc(45% - 100px);
}

table.results{
   table-layout: fixed;
   width: 50%;
   min-width: 400px;
   margin: 0 auto;
}

table.results tr td{
   padding: 8px;
   white-space: normal;
}

table.results tr th{
   padding: 8px;
   white-space: normal;
   text-align: center;
}

table.results tr:not(:last-child){
   border-bottom: 1px solid #ddd;
}

table.results tr td:first-child{
   text-align: right;
   font-weight: 700;
}

.nav-pills{
   margin: 0 auto;
   width: max-content;
}

#cabecario{
   text-align: center;
}
#cabecario img{
   height: 150px;
   margin: 0 10px;
   width: auto;
}
#cabecario div{
   width: auto;
   margin: 0 25px 0;
}
